<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Simple Blockchain</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
</head>
    
<body onload="load();">

    <h1>Simple Blockchain</h1>

    <h2 id="current_node_address">Current node address:&nbsp;</h2>

    <div>
        <input type="button" value="Registration" onclick="registration()" />
    </div>
    <div>
        <input type="button" value="Mine" onclick="mine()" />
    </div>
    <div>
        <form id="transaction" target="iframe" method="get">
            <!-- <form id="transaction" onsubmit="return false" method="get"> -->
            Sender：<input type="text" name="sender" size="20"><br/>
            Receiver：<input type="text" name="receiver" size="20"><br/>
            Amount：<input type="text" name="amount" size="20"><br/>
            <br/>
            <button type="button" onclick="transaction()">Submit</button>
        </form>
        <iframe id="iframe" name="iframe" style="display:none;"></iframe>
    </div>
    <script type="text/javascript">
        function load() {
            var current_node_address = document.getElementById("current_node_address");
            var message;
            $.ajax({
                type: "GET",
                url: "/current-address",
                dataType: "json",
                success: function (msg) {
                    current_node_address.innerText += msg["current_address"];
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
        function registration() {
            $.ajax(
                {
                    type: "GET",
                    url: "/registration",
                    dataType: "html",
                    success: function (msg) {
                        console.log(msg);
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
        }
    
        function mine() {
            $.ajax(
                {
                    type: "GET",
                    url: "/mine",
                    dataType: "html",
                    success: function (msg) {
                        console.log(msg);
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
        }
    
        function transaction() {
            var transaction_data = $('#transaction').serializeArray()
            var transaction_json = {
                "sender": transaction_data[0].value,
                "receiver": transaction_data[1].value,
                "amount": transaction_data[2].value,
            }
            console.log(transaction_json)
            $.ajax({
                type: "POST",
                url: "/transaction",
                dataType: "json",
                data: JSON.stringify(transaction_json),
                success: function (result) {
                    console.log(result);
                    if (result.resultCode == 200) {
                        alert("SUCCESS");
                    };
                },
                error: function () {
                    alert("异常！");
                }
            });
        }
    
    </script>
</body>

</html>